*{

margin:0;

padding:0;

box-sizing:border-box;

font-family:Poppins,sans-serif;

}

body{

background:#dff5ff;

display:flex;

justify-content:center;

padding:30px;

}

.container{

width:500px;

max-width:100%;

background:white;

padding:20px;

border-radius:25px;

box-shadow:0 15px 40px rgba(0,0,0,.12);

}

.header{

text-align:center;

margin-bottom:20px;

}

.logo{

width:90px;

}

.editor{

position:relative;

width:100%;

aspect-ratio:1/1;

overflow:hidden;

background:#ececec;

border-radius:20px;

}

#photo{

position:absolute;

left:50%;

top:50%;

width:auto;

height:auto;

max-width:none;

max-height:none;

display:none;

cursor:grab;

user-select:none;

transform-origin:center center;

}
#frame{

position:absolute;

left:0;

top:0;

width:100%;

pointer-events:none;

z-index:10;

}

.toolbar{

margin-top:20px;

display:grid;

grid-template-columns:repeat(3,1fr);

gap:10px;

}

button{

flex:1;

padding:15px;

border:none;

background:#0b8dff;

color:white;

font-size:17px;

border-radius:15px;

cursor:pointer;

}

button:hover{

background:#0070d4;

}
.controls{

margin-top:15px;

display:flex;

justify-content:center;

gap:8px;

}

.controls button{

width:55px;

height:50px;

font-size:22px;

border-radius:12px;

background:#2c7be5;

}

.controls button:hover{

background:#1864d8;

}